/**
* all css related to chart will come here
**/
.chart-control-panel{
   height: 66px;
   color:#666666;
   position: relative;

   .operation-wrapper{
   	   position: absolute;
   	   left:200px;
   	   top:29px;
   	   font-size: 18px;
   	   cursor: pointer;
   	   span{
   	   	margin-right: 5px;
   	   	display: none;
   	   }

   	   &.zoom-in{
   	   	 .glyphicon-zoom-in{
   	   	 	display: block;
   	   	 }
   	   }
   	   &.zoom-out{
   	   	 .glyphicon-zoom-out{
   	   	 	display: block;
   	   	 }
   	   }
   }
   
   .notes{ 
    label{
    	padding-right: 10px;
    	font-weight: normal;
    	font-size: 12px;
    }
   	.dot{
		display: inline-block;
		width: 8px;
		height: 8px;
		border-radius: 4px;
		background-color: #2392df;
		&.orange{
		   background-color: #ee9a14;
		}
		&.green{
			background-color: #27ae60;
		}
   }

  }
	
}

