<div class="chart-wrapper">
  <div class="chart-control-panel">
     <div class="notes pull-left">
          <ul class="nav nav-pills">
              <li ng-repeat="obj in agentsObjs">
                 <label ng-click="toggleLine(obj,$index)"><span class="dot" style="background-color:{{colors[$index]}}" ng-class="{active:obj.selected}"></span>&nbsp;&nbsp;{{obj.name}}</label>
              </li>
          </ul>
     </div>

     <div class="chart-types pull-right">
          
          <form role="form">
             <label class="checkbox-inline">
                 <input type="radio" value="line" ng-model="chartType">
                 Line
             </label>
             <label class="checkbox-inline">
                <input type="radio" value="bar" ng-model="chartType">
                 Bar
             </label>
          </form>
         

     </div>

     <div class="clearfix"></div>

     <div class="operation-wrapper">
         <span class="glyphicon glyphicon-eye-open"></span>
         <span class="glyphicon glyphicon-zoom-in"></span>
         <span class="glyphicon glyphicon-zoom-out"></span>
     </div>
  </div>

   <svg>
    <g id="callChart">
     <g class="bg-lines"></g>
     <g class="call-number"></g>
     <g class="total-group">  </g>
     <g class="total-dots"></g>
     <g class="lines" ng-show="chartType=='line'"></g>
     <g class="dots" ng-show="chartType=='line'"></g>
     <g class="bar-group" ng-show="chartType=='bar'"></g>

     <g class="texts"></g>
     <g class="select-area" opacity="0"></g>
     <g id="call-detail" class="hideChartElement"></g>
    </g>
    
    <g class="context">
        
    </g>

  </svg> 


</div>