<div>
    <div class="chart-control-panel">
     <div class="notes ">
          <ul class="nav nav-pills">
              <li ng-repeat="obj in data">
                 <label><span class="dot" style="background-color:{{colors[$index]}}" ng-class="{active:obj.selected}"></span>&nbsp;&nbsp;{{obj.label}}</label>
              </li>
          </ul>
     </div>
    </div>

<svg id="dxiPie">
   <g id="call-detail" opacity="1" class="hideChartElement">
   	<rect x="0" y="0" width="100" height="69" style="stroke:#d8dadc;stroke-width:1;fill:white"></rect>
   	<circle cx="15" cy="34" r="4" fill="{{dataDetail.color}}"></circle>
   	
   	<text x="29" y="26" style="color:#666666;font-size:14px">
       {{dataDetail.label}}
   	</text>

   	<text x="29" y="52" style="color:#666666;font-size:14px">
   		{{dataDetail.value}} Calls
   	</text>

   </g>
</svg>
</div>