<div>
<svg class="snake snake2">
   <g class="snake-body">

   </g>

   <g class="fruit">
      
   </g>
</svg>

<div class="row">
     
     <button class="btn btn-primary" ng-click="addNode()">
        Add Node
     </button>

       <button class="btn btn-primary" ng-click="pauseGame()">
        pause game
     </button>

     <button class="btn btn-primary" ng-click="continueGame()">
        continue game
     </button>

      <button class="btn btn-primary" ng-click="changeFruitPos()">
        change fruit position
     </button>

       <button class="btn btn-primary" ng-click="updateScence()">
        updateScence
     </button>

</div>


</div>