/**
* all css related to chart will come here
**/
.transform(@values){
  -webkit-transform:@values;
  -moz-transform:@values;
  transform:@values;
}

.hideChartElement{
  display: none;
}

#callChart,.context{
  .domain {
    display: none;
    fill:transparent;
  }
}
#callChart{
  .axis{
    text{
      font-size: 13px;
    }
  }
}
.context{
  .axis{
    text{
      font-size: 12px;
    }
  }
}
.chart-control-panel{
   height: 66px;
   color:#666666;
   position: relative;

   .operation-wrapper{
   	   position: absolute;
   	   left:200px;
   	   top:29px;
   	   font-size: 18px;
   	   cursor: pointer;
   	   span{
   	   	margin-right: 5px;
   	   	display: none;
   	   }

   	   &.zoom-in{
   	   	 .glyphicon-zoom-in{
   	   	 	display: block;
   	   	 }
   	   }
   	   &.zoom-out{
   	   	 .glyphicon-zoom-out{
   	   	 	display: block;
   	   	 }
   	   }
   }
   
   .notes{ 
    label{
    	padding-right: 10px;
    	font-weight: normal;
    	font-size: 12px;
      cursor: pointer;
    }
   	.dot{
		display: inline-block;
		width: 8px;
		height: 8px;
		border-radius: 4px;
		background-color: #2392df;
    &.active{
       .transform(scale(1.5));
    }
		&.orange{
		   background-color: #ee9a14;
		}
		&.green{
			background-color: #27ae60;
		}
   }

  }
	
}

