/**
* all css related to chart will come here
**/
.hideChartElement {
  display: none;
}
#callChart .domain,
.context .domain {
  display: none;
  fill: transparent;
}
#callChart .axis text {
  font-size: 13px;
}
.context .axis text {
  font-size: 12px;
}
.chart-control-panel {
  height: 66px;
  color: #666666;
  position: relative;
}
.chart-control-panel .operation-wrapper {
  position: absolute;
  left: 200px;
  top: 29px;
  font-size: 18px;
  cursor: pointer;
}
.chart-control-panel .operation-wrapper span {
  margin-right: 5px;
  display: none;
}
.chart-control-panel .operation-wrapper.zoom-in .glyphicon-zoom-in {
  display: block;
}
.chart-control-panel .operation-wrapper.zoom-out .glyphicon-zoom-out {
  display: block;
}
.chart-control-panel .notes label {
  padding-right: 10px;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
}
.chart-control-panel .notes .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #2392df;
}
.chart-control-panel .notes .dot.active {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}
.chart-control-panel .notes .dot.orange {
  background-color: #ee9a14;
}
.chart-control-panel .notes .dot.green {
  background-color: #27ae60;
}
